<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="5" name="Test">
  <parameter name="username" value="FXOtest.employee@optis.com"/>
  <parameter name="password" value="Qwerty2@"/>
    <classes>        
	<class name="suites.User_others.T_LoginPage"/>
    </classes>
  </test>
</suite> 
<!-- Suite
   <groups>
            <run>
                <include name ="Super Admin"/>
            </run>
        </groups> -->
